 @import "bootstrap" ;

body {
  background-image: url('unicorn.jpeg');
  background-repeat: none;
  color: #FF0066;
  font-size: 150%;
}

h1, h2, h3 {
  text-align: center;
}

.container {
  padding: 50px;
  width: 90%;
  autoflow: auto;
}

.container form {
  text-align: center
}

a {
  color: #FF0066;
}

.btn-primary {
  background-color: #FF0066;
}

.well, textarea {
  background-color: black;
  color: #FF0066;
}

.feed {
  margin-top: 61px;
}

.timestamp {
  font-size: .5em;
  font-style: italic;
  position: relative;
  left: 420px;
  bottom: -15px;
}

#log-out {
  position: absolute;
  top: 20px;
  right: 25px;
}

#welcome {
  position: absolute;
  top: 25px;
  right: 150px;
}
